parameters:
    level: 7
    paths:
        - src/
services:
    -
        class: PARTest\Time\PHPStan\TemporalAmountDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
